body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    

}

h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {

    width: 45%;


}

.half-width img {
    width: 80%;
    padding-left: ;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    padding-top: 5px;


}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.Dreeam-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
}
.pic{
    padding-left: 270px;
}
.experence-item{
    box-shadow: 15px 15px 45px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}
.experince-artea{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#web-dev-experience{
    border-left: 8px solid;
    border-image: linear-gradient(salmon,purple);
    border-image-slice: 1;
}
#baby-web{
    border-left: 8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}